.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: 100vh;
  background-color: var(--signin-container-bg-color);
  margin: 0 auto;
}

.signin-container {
  display: grid;
  grid-template-columns: minmax(320px, 1fr);
  grid-template-rows: 40px 180px;
  width: 100%;
  text-align: center;
}

.signin-container h1 {
  margin: 0px;
  color: var(--general-color);
}

.signin-container form {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: calc(100% - 100px);
}

.signin-container input,
button {
  margin: 10px 0px;
}

.signin-container input {
  box-sizing: border-box;
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  outline: none;
  border: 2px solid var(--general-border-color);
  border-radius: 50px;
  background-color: var(--general-bg-color);
  color: var(--general-color);
}

.signin-container button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: 800;
  border: none;
  border-radius: 50px;
  background-color: var(--general-bg-color);
  color: var(--general-color);
  transition: all 1s;
}
.signin-container button:hover {
  opacity: .8;
}
